<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XX后台管理系统</title>

  <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="css/common.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="/js/logout.js"></script>


</head>

<body>

  <div class="container">

    <%- include('./common/head.ejs') %>

    <div class="main">

      <%- include('./common/menu.ejs') %>

      <div class="body">
        首页中间内容
      </div>
    </div>

    <%- include('./common/foot.ejs') %>

  </div>

</body>

</html>